.counter {
    display: flex;
}

button, span, input {
    display: inline-block;
    padding: 20px;
    font-size: 68px;
}

ul {
    font-size: 36px;
}

.completed {
    text-decoration: line-through;
    color: #666;
}